<div class="header">
    <div class="head-left">
        <span class="material-symbols-outlined one" (click)="collapsesidebar();" style="cursor: pointer;">
            dock_to_right
        </span>
        <span class="material-symbols-outlined two">
            star
        </span>
        <span class="three">
            <p class="head1">Dashboard /</p>&nbsp;<p class="head2">Default</p>
        </span>
    </div>
    <div class="head-right">
        <span class="search">
            <input type="text" class="searchicon" placeholder="&#xF002;  Search...           &#xf130;"
                style="font-family:Arial, FontAwesome; " />
        </span>
        <span class="material-symbols-outlined">
            clear_night
        </span>
        <span class="material-symbols-outlined" style="position: relative; padding-top: .2rem;">
            notifications
            <span class="dot"></span>
        </span>
        <span class="profile-icon" (click)="settings();">
            <img class="profile-img-display" src="assets/avatar.png">
            <h6 class="username">Mr Admin</h6>
            <span class="material-symbols-outlined" id="iconchange">
                expand_more
            </span>
        </span>
    </div>
</div>