.footer {
    grid-area: Footer;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: gray;
}

.footer-right {
    display: flex;
    gap: 1rem;
}
