<div class="leftbar" id="leftsidebar">
    <div class="logo-div">
        <img src="assets/Group 14.svg" class="side-logo">
    </div>
    <div class="sidebar-option-1">
        <span>
            <button class="primary-btns active" [routerLink]="''" id="dashboardbtn">
                 <span
                    class="material-symbols-outlined" id="iconchanger" (click)="collapseopt()">
                    navigate_next
                 </span>
                    <img src="assets/fa-solid_chart-pie.svg" class="icon">Dashboard</button> 
            <div class="sidebar-options-1" id="collapseoptions">
                <button class="secondary-btns active1" id="defaultbtn">
                    Default
                </button>
                <button class="secondary-btns">
                    Projects
                </button>
                <button class="secondary-btns">
                    eCommerce
                </button>
            </div>
        </span>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                layers
            </span>Apps
        </button>
        <button class="primary-btns option-description">User Interface</button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                deployed_code
            </span>Components
        </button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                bolt
            </span>Elements
        </button>
        <button class="primary-btns">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="material-symbols-outlined">
                <span class="material-symbols-outlined">
                    signal_cellular_alt
                </span>
            </span>Charts
        </button>
        <button class="primary-btns">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="material-symbols-outlined">
                <span class="material-symbols-outlined">
                    Tv
                </span>
            </span>Widgets
        </button>
        <button class="primary-btns">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="material-symbols-outlined">
                <span class="material-symbols-outlined">
                    alternate_email
                </span>
            </span> Font Icons
        </button>
        <button class="primary-btns">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="material-symbols-outlined">
                <span class="material-symbols-outlined">
                    drag_pan
                </span>
            </span> Drag & Drop
        </button>
        <button class="primary-btns option-description">Tables and Forms</button>
            <button class="primary-btns" [routerLink]="'table'" id="tablebtn" (click)="changeactive()">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="material-symbols-outlined">
                    <span class="material-symbols-outlined">
                        dock_to_right
                    </span>
                </span> Tables
            </button>
        <button class="primary-btns">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="material-symbols-outlined">
                <span class="material-symbols-outlined">
                    table_chart
                </span>
            </span> DataTables
        </button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                assignment
            </span> Forms
        </button>
        <button class="primary-btns option-description">Users and Pages</button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                group
            </span> Users
        </button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                auto_stories
            </span> Pages
        </button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                Lock
            </span> Authentication
        </button>
        <button class="primary-btns option-description">Supports</button>
        <button class="primary-btns"><span class="material-symbols-outlined">
                navigate_next
            </span><span class="material-symbols-outlined">
                library_books
            </span> Documentaion
        </button>
    </div>
</div>

