<div class="rightbar">

    <div class="right-section-1">
        <span>
            <h5 style="font-size: 0.8rem; margin: 0;">Notifications</h5>
        </span>
        <div class="right-section-1-details">
            <div class="head-rht">
                <span>
                    <span class="material-symbols-outlined">
                        bug_report
                    </span>
                </span>
                <span class="p-dt">
                    <h6 class="header1" class="username">You have a bug that needs to be fixed</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">5m ago</h6>
                </span>
                <span class="circle1"></span>
            </div>
            <div class="head-rht">
                <span>
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                </span>
                <span class="p-dt">
                    <h6 class="header2" class="username">New user registered</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">1:23 AM</h6>
                </span>
                <span class="circle2"></span>
            </div>
            <div class="head-rht">
                <span>
                    <span class="material-symbols-outlined">
                        bug_report
                    </span>
                </span>
                <span class="p-dt">
                    <h6 class="header1" class="username">You have a bug that needs to be fixed</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">0:32 AM</h6>
                </span>
                <span class="circle3"></span>
            </div>
            <div class="head-rht">
                <span>
                    <span class="material-symbols-outlined">
                        subscriptions
                    </span>
                </span>
                <span class="p-dt">
                    <h6 class="header2" class="username">Andi Lane subscribed you</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">Yesterday 12:39 AM</h6>
                </span>
                <span class="circle4"></span>
            </div>
        </div>
    </div>
    <div class="right-section-2">
        <span>
            <h5 style="font-size: 0.8rem; margin: 0;">Activities</h5>
        </span>
        <div class="right-section-1-details">
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">Server is overloaded</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">5m ago</h6>
                </span>
            </div>
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">Released new version</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">1:23 AM</h6>
                </span>
            </div>
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">Submitted a bug</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">0:32 AM</h6>
                </span>
            </div>
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">Deleted Successfully</h6>
                    <h6 style="color: gray; font-weight: 100; font-size: x-small;">Yesterday 12:39 AM</h6>
                </span>
            </div>
        </div>
    </div>
    <div class="right-section-3">
        <span>
            <h5 style="font-size: 0.8rem; margin: 0;">Contacts</h5>
        </span>
        <div class="right-section-1-details">
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">John Wick</h6>
                </span>
            </div>
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">Henery Vecna</h6>
                </span>
            </div>
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">New User</h6>
                </span>
            </div>
            <div class="head-rht">
                <span>
                    <img class="profile-img-display" src="assets/avatar.png">
                </span>
                <span class="p-dt">
                    <h6 class="username">Andi Lane</h6>
                </span>
            </div>
        </div>
    </div>
</div>