:root{
    --header-height:120px;
    --sidebar-width:200px;
    --footer-height:80px;
    --rightbar-width:300px
}
.dashboard{
    display:grid;
    grid-template-areas:
    "leftbar header rightbar"
    "leftbar main rightbar"
    "leftbar footer rightbar";
    grid-template-columns: 12rem auto 12rem;
    grid-template-rows: 4.3rem auto 2rem;
}

app-header{
    grid-area:header;
    /* height: var(--header-height); */
    /* width: calc(100vw - var(--sidebar-width) - var(--rightbar-width)); */
}

app-leftbar{
    grid-area:leftbar;
    width: var(--sidebar-width);
}

.content{
    grid-area:main;
    /* width: calc(100vw - var(--sidebar-width) - var(--rightbar-width));
    height: calc(100vh - var(--header-height) - var(--footer-height)); */
}

app-rightbar{
    grid-area:rightbar;
    /* width: var(--rightbar-width); */
}

app-footer{
    grid-area:footer;
    /* height: var(--footer-height); */
}