<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
<div class="container">
    <div class="login-container">
        <div >
            <h1>Register<span><i class="fa-solid fa-circle" style="color: rgb(53, 168, 53); font-size: x-small;"></i></span></h1>
        </div>
        <div class="inputdiv">
            <div style="display: flex; justify-content: space-between;">
             <input type="text" placeholder="Enter Username">
             <input type="Email" placeholder="Enter Email">
            </div>
            <div style="display: flex; justify-content: space-between;">
                <input type="password" placeholder="Enter Password">
            <input type="password" placeholder="Re-enter Password">
            </div>
        </div>
        <div class="login-options">
            <span><input type="radio"> I agree with <u><b style="color: black;">privacy policy.</b></u></span>            
        </div>
        <div style="flex-direction: column; gap: 2rem;">
            <button type="button" class="btn" [routerLink]="['/login']">Sign up</button>
            <div>Already Have an account? <u><b style="color: black; cursor: pointer;" [routerLink]="['/login']">Login</b></u></div>
        </div>
    </div>
</div>